# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
# test db
*.db
data/json
config/config_dbg.yml
# config with secrets must be committed implicitly
config/config.yml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Macos garbage
.DS_Store
._.DS_Store

# Dependency directories (remove the comment below to include it)
# vendor/

# build files
zoomrs
zoomrs.exe
