# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
# test db
*.db
*.db-shm
*.db-wal

.tmp/

# ignore configs with secrets
config/config_dbg.yml
config/config.yml

# binaries and distribution artifacts
dist/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Macos garbage
.DS_Store
._.DS_Store

# VSCode directory
.vscode/

# Dependency directories (remove the comment below to include it)
# vendor/

# build files
zoomrs
zoomrs.exe
